.header__grid {
  display: grid;
  grid-template-columns: minmax(190px, 283px) minmax(170px, 220px) minmax(320px, 757px) minmax(370px, 421px);
  grid-template-rows: 61px;
  height: 61px;
  align-items: center;
  gap: 30px;
}

.header__grid-logo {
  place-self: center start;
}

.header__grid-menu {
  place-self: center end;
}

.header__text {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  max-height: 41px;
  max-width: 190px;
  letter-spacing: 0.06em;
}

.header__button-menu {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  background-color: var(--dark-blue-color);
  min-width: 151px;
  height: 54px;
  border-radius: 10px;
  border: none;
}

.header__button-burger {
  padding-left: 30px;
  margin-right: 7px;
}

.header__button-text {
  font-size: 22px;
  line-height: 33px;
  color: var(--white-color);
}

.header__search {
  display: grid;
  /* justify-content: space-between; */
}

.header__search-input {
  max-width: 100%;
  min-height: 54px;
  border-radius: 30px;
  border: none;
  background-color: var(--light-grey-color);
  grid-column: 1 / 6;
  grid-row: 1 / 2;
  padding: 15px 0 18px 40px;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

.header__search-button {
  grid-column: 5 / 6;
  grid-row: 1 / 2;
  background-color: var(--dark-blue-color);
  width: 101px;
  min-height: 54px;
  border-radius: 30px;
  border: none;
  place-self: center end;
}

.header__icons {
  display: flex;
  gap: 70px;
}

.header__icons-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
  min-height: 61px;
}

.header__icons-link {
  text-align: center;
}

.header__icons-img {
  width: 36px;
  height: 36px;
}

.header__icons-text {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

@media (max-width: 1315px) {

  .header {
    height: 183px;
    padding-top: 37px;
  }

  .header__grid {

    grid-template-columns: minmax(188px, 281px) minmax(155px, 220px) minmax(204px, 757px) minmax(203px, 421px);

    /* убрал чтобы сжималось красиво */
    /* grid-template-columns: minmax(209px, 283px) minmax(170px, 220px) minmax(243px, 757px) minmax(228px, 421px); */
    grid-template-rows: 61px 54px;
    /* height: 61px; */
    align-items: center;
    gap: 30px;
  }

  .header__grid-button-menu {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .header__grid-search {
    grid-column: 2 / 5;
    grid-row: 2 / 3;
    max-width: 700px;
  }

  .header__search-input {
    max-width: 655px;
  }

  .header__grid-menu {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
  }

  .header__icons {
    gap: 40px;
  }
}

/* адаптив 950px */

@media (max-width: 950px) {

  .header {
    height: 140px;
    padding-top: 25px;
  }

  .header__grid {
    grid-template-columns: minmax(123px, 212px) minmax(142px, 130px) minmax(152px, 312px) minmax(201px, 283px);
    grid-template-rows: 44px 42px;
    align-items: center;
    gap: 29px 27px;
  }

  .header__grid-logo {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .header__text {
    font-size: 26px;
    line-height: 35px;
  }

  .header__icons {
    gap: 23px;
  }

  .header__icons-img {
    width: 30px;
    height: 30px;
  }

  .header__grid-button-menu {}

  .header__button-menu {
    min-width: 116px;
    height: 40px;
    border-radius: 6px;
  }

  .header__button-text {
    font-size: 16px;
    line-height: 24px;
  }

  .header__button-burger {
    padding-left: 21px;
    margin-right: 5px;
  }

  .header__grid-search {
    grid-column: 2 / 5;
    grid-row: 2 / 3;
    max-width: 700px;
  }

  .header__search-input {
    max-width: 655px;
    /* width: 543px; */
    min-height: 41px;
    font-size: 12px;
    line-height: 16px;
    padding: 13px 0 15px 32px;
  }

  .header__search-button {
    width: 85px;
    min-height: 41px;
  }

  .header__grid-menu {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    width: 208px;
  }

  .header__icons {
    gap: 30px;
  }

  .header__icons-items {
    min-height: 45px;
  }

  .header__icons-text {
    font-size: 12px;
    line-height: 16px;
  }

}

/* @media (max-width: 768px) {

  .header__grid {
    grid-template-columns: minmax(126px, 212px) minmax(173px, 130px) minmax(152px, 312px) minmax(201px, 283px);
    gap: 29px 17px;
  }

} */

@media (max-width: 768px) {

  .header__grid {
    grid-template-columns: minmax(105px, 212px) minmax(40px, 130px) minmax(59px, 312px) minmax(152px, 286px);
    gap: 29px 17px;
  }

  .header__grid-menu {
    width: 207px;
    place-self: start center;
  }

  .header__icons {
    gap: 29px;
  }

  .header__search-input {
    max-width: 440px;
  }

  .header__search-button {
    grid-column: 5 / 6;
  }



}

/*

  .header__search-button {
    grid-column: 5 / 6;
    grid-row: 1 / 2;
    place-self: center end;
  }

  .header__search-input {
    grid-column: 4 / 6;
    grid-row: 1 / 2;
    max-width: 299px;
  }
} */

/* было 350px */
@media (max-width: 460px) {

  .header {
    padding-top: 20px;
  }

  .header__grid {
    
    grid-template-columns: minmax(125px, 200px) minmax(140px, 200px);
    grid-template-rows: 25px repeat(2, 30px);
    gap: 20px 20px;
    grid-template-areas:
      "logo logo"
      "button menu"
      "search search";

  }

  .header__grid-logo {
    grid-area: logo;
  }

  .header__grid-button-menu {
    grid-area: button;
  }

  .header__grid-search {
    grid-area: search;
  }

  .header__grid-menu {
    grid-area: menu;
  }

  .header__text {
    font-size: 18px;
    line-height: 24px;
  }

  .header__button-menu {
    justify-content: center;
    min-width: 79px;
    height: 30px;
    border-radius: 4px;
    gap: 2px;
  }

  .header__button-text {
    font-size: 12px;
    line-height: 18px;
  }

  .header__button-burger {
    padding: 0;
    margin: 0;
    width: 14px;
    height: 14px;
  }

  .header__grid-menu {
    width: 130px;
  }

  .header__icons {
    gap: 20px;
  }

  .header__icons-items {
    min-height: 30px;
  }

  .header__icons-img {
    width: 30px;
    height: 30px;
  }

  .header__icons-text {
    display: none;
  }

  .header__grid-search {
    max-width: 280px;
  }

  .header__search-input {
    max-width: 100%;
    min-height: 30px;
    font-size: 8px;
    line-height: 10px;
    padding: 0;
    padding-left: 16px;
  }

  .header__search-button {
    width: 50px;
    min-height: 30px;
  }

  .header__search-button-img {
    width: 15px;
    height: 15px;
  }

}