:root {
  --white-color: #ffffff;
  --background-color: #ffffff;
  --dark-blue-color: #3670C7;
  --light-blue-color: #38C0EB;
  --light-grey-color: #EFEFEF;
  --yelow-color: #FFBD13;
  --red-color: #F91155;
}